---
import "@fontsource/press-start-2p";
import { ViewTransitions } from "astro:transitions";

const data = {
  title: `sirLisko... Luca Lischetti`,
  description: `Explore Luca Lischetti's personal website, also known as sirLisko. Join a full-time dreamer and part-time sleeper as he combines creativity and web expertise. Dive into 8-bit nostalgia, design, and everyday adventures. Discover a space where art, tech, and imagination collide.`,
  author: `Luca Lischetti`,
  image: `https://sirlisko.com/images/lisko.png`,
  siteUrl: `https://sirlisko.com`,
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
  .toString()
  .replace(/\/+$/, "");

const { title, description, image, keywords } = Astro.props;

const metaDescription = description || data.description;
const formattedTitle = title ? `${title} | ${data.title}` : data.title;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/images/heart.png" />
    <link rel="canonical" href={canonicalURL} />
    <title>{formattedTitle}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={metaDescription} />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={image || data.image} />
    <meta property="og:description" content="metaDescription" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content={data.author} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={metaDescription} />
    {
      keywords && keywords.length > 0 ? (
        <meta name="keywords" content={keywords.join(`, `)} />
      ) : null
    }
    <link
      type="text/plain"
      rel="author"
      href="https://sirlisko.com/humans.txt"
    />
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Press Start 2P", monospace;
    font-size: 16px;
    margin: 0;
  }
</style>
