---
import "@fontsource/press-start-2p";
import { ClientRouter } from "astro:transitions";

const data = {
	title: `sirlisko | Luca Lischetti`,
	description: `Ciao! I am Luca, another fellow <developer />, sleep-deprived enthusiast, passionate about 8-bit nostalgia and occasional Sunday superhero. Trying hard to transform ideas into interactive experiences, one pixel at a time.`,
	image: `https://sirlisko.com/images/me_banner.jpg`,
};

const jsonLd = {
	"@context": "https://schema.org",
	"@type": "Person",
	name: "Luca Lischetti",
	alternateName: "sirlisko",
	url: "https://sirlisko.com",
	image: "https://sirlisko.com/images/me_banner.jpg",
	sameAs: [
		"https://github.com/sirlisko",
		"https://linkedin.com/in/lucalischetti",
	],
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
	.toString()
	.replace(/\/+$/, "");

const { title, description, image, keywords, ogType, noindex } = Astro.props;

const metaDescription = description || data.description;
const formattedTitle = title ? `${title} | ${data.title}` : data.title;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png" />
    <link rel="canonical" href={canonicalURL} />
    <title>{formattedTitle}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {noindex && <meta name="robots" content="noindex" />}
    <meta name="description" content={metaDescription} />
    <meta property="og:title" content={formattedTitle} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={image || data.image} />
    <meta property="og:image:width" content="2048" />
    <meta property="og:image:height" content="1024" />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:site_name" content={data.title} />
    <meta property="og:type" content={ogType || "website"} />
    {ogType === "profile" && (
      <>
        <meta property="profile:first_name" content="Luca" />
        <meta property="profile:last_name" content="Lischetti" />
        <meta property="profile:username" content="sirlisko" />
      </>
    )}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={formattedTitle} />
    <meta name="twitter:description" content={metaDescription} />
    <meta name="twitter:image" content={image || data.image} />
    {
      keywords && keywords.length > 0 ? (
        <meta name="keywords" content={keywords.join(`, `)} />
      ) : null
    }
    <link
      type="text/plain"
      rel="author"
      href="https://sirlisko.com/humans.txt"
    />
    <script type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Press Start 2P", monospace;
    font-size: 16px;
    margin: 0;
  }
</style>
